/* This tool is created by GatoCreador887 and a little modified by the extension author
See the author page: https://github.com/GatoCreador887/
See the original code here: https://github.com/GatoCreador887/StarblastModding */

body {
  background-color: #0b1b22;
}
h4 {
  position:fixed;
  bottom:1px;
  left:1px;
  margin:0px;
  color:#CDE;
}
#mapSize {
  background-color: #09161c;
  color: #CDE;
  border-style: solid;
  border-width: 1px;
  border-color: #CDE;
}

#indentationInput {
  background-color: #09161c;
  color: #d1d3cf;
}
button,input {
  position:absolute;
  top:5px;
}
input {
  top:6px;
}
canvas {
  position: relative;
  top:25px;
  margin-bottom:30px;
}
#export,#copy,#clear {
  background: linear-gradient(135deg,#09161c 0,#0B3649 100%);
  color: #CDE;
}

#coffeescriptOutput {
  background-color: #09161c;
  color: #d1d3cf;
}
a {
  color:#CDE
}
